<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <%- include('style') -%>
</head>
<body>
    <div class="container">
        <h1 style="border: 0cm;"><%= blog.event_name %></h1>
        <h3><%= blog.event_id %></h3>
        <h4><%= blog.event_url %></h4>
        <p class="body"><%= blog.login %></p>
        <p><%= blog.no_of_tickets %></p>
        <p><%= blog.price %></p>
        <a href="/edit/<%= blog.id%>">
            <button>Edit</button>
        </a>
    </div>
</body>
</html>